<!--Header Content-->
    <img src="/images/header.png" alt="stock image of person walking a dog on sidewalk" class="headerImg">
    <h1> Walkies </h1>
    <!--Main Content-->
    <div class="container">
        <div class="lead" id="currentDay">
        </div><br>
        <div class="buttonDiv">
            <a href="#" class="topBtn">View Client List</a>
        </div>
        <!-- Employees List-->
        <div class="employeesBox">
            <p class="employeeList"><b><u>Employees Scheduled</u></b><br> Pat Talbot<br> Sam Incandenza<br> Teyana Randalls<br>
            </p>
        </div><br><br>

        <!-- Front Page !-->
        <div class="homePage ">
            <div class="employeeOneColName" id="colHead">Pat Talbot</div>
            <div class="employeeTwoColName" id="colHead">Sam Incandenza</div>
            <div class="employeeThreeColName" id="colHead">Teyana Randalls</div>
            <!--Each employee is assigned a number in database
            Pat Talbot = 1
            Sam Incandenza = 2
            Teyana Randalls = 3 !-->

            <!--Employee One !-->
            <div class="employeeOne" id="column">
                <div class="employeeOneNeedWalk" id="innerRow">
                <ol class="employeeOneWalkList">
                      
                </ol>
                </div>
                <div class="employeeOneActiveWalk" id="innerRow">
                <ol class="employeeOneWalking">
                      
                </ol>
                </div>
                
            </div>
            <!-- Employee Two !-->
            <div class="employeeTwo" id="column">
                <div class="employeeTwoNeedWalk" id="innerRow">
                <ol class="employeeTwoWalkList">
                      
                </ol>
                </div>
                <div class="employeeTwoActiveWalk" id="innerRow">
                <ol class="employeeTwoWalking">
                      
                </ol>
                </div>
            </div>
            <!-- Employee Three !-->
            <div class="employeeThree" id="column">
                <div class="employeeThreeNeedWalk" id="innerRow">
                <ol class="employeeThreeWalkList">
                      
                </ol>
                </div>
                <div class="employeeThreeActiveWalk" id="innerRow">
                <ol class="employeeThreeWalking">
                      
                </ol>
                </div>
            </div>
        </div><br>

        <!--Client List-->
        <div class="dogBox hidePage">
            <div class="addDogButton"><button class="topBtn">Add New Dog to Client List</button></div><br>
            <ol class="clientList">
                {{#each dogs}}
                {{/each}}
            </ol>
        </div>

        <!--Add Dog Form-->
        <div class="addForm hidePage">
            <div class="formHead"></div>
            <form method="post" action="">
            <li id="li_1" >
            <label class="description" for="dog_Name">Dog's Name </label>
            <div>
                <input id="dog_Name" name="dog_Name" class="element text small" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_2" >
            <label class="description" for="breed">Breed </label>
            <div>
                <input id="breed" name="breed" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_3" >
            <label class="description" for="owner_Name">Owner's Name </label>
            <div>
                <input id="owner_Name" name="owner_Name" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_4" >
            <label class="description" for="element_4">Address </label>
            <div>
                <input id="element_4" name="element_4" class="element text large" type="text" maxlength="255" value=""/> 
            </div>
            </li>		<li id="li_5" >
            <label class="description" for="element_5">Phone Number </label>
            <div>
                <input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_6" >
            <label class="description" for="element_6">Extra Notes: </label>
            <div>
                <textarea id="element_6" name="element_6" class="element textarea small"></textarea> 
            </div>
            </li>
                
                        <li class="buttons">
                    <input type="hidden" name="form_id" value="18945" />
                    
                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
            </li>
                </ul>
            </form>	
        </div>

        <!--Footer-->
        <img src="/images/bottompaw.png" alt="line of paw prints" class="bottomPaws">
    </div>
   