body {
    background: radial-gradient(#7599cf, #132136);
    background-size: cover;
    font-family: 'Truculenta', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.headerImg {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 9vh;
    color: white;
    text-align: center;
    margin-top: -315px;
    z-index: 3;
    position: relative;
}

.container {
    z-index: 1;
    background-color: #bababa;
    position: relative;
    width: 950px;
    height: 700px;;
    margin-left: auto;
    margin-right: auto;
    margin-top: -102px;
    border-radius: 10px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.addDogDiv {
    margin-left: 60px;
}

.addButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Truculenta', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.addButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.addButton:active {
	position:relative;
	top:1px;
}

.formHead {
    background-color: orangered;
    height: 35px;
    width: 490px;
    
}

.addForm {
    background-color: #e4e4e4;
    height: 470px;
    width: 490px;
    border-radius: 4px;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

* html form li
{
	height:1%;
}

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

span.symbol
{
	font-size:115%;
	line-height:130%;
}

input.text
{
	background:#fff;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

input.file
{
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

textarea.textarea
{
	background:#fff;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	width:99%;
}

input.small
{
	width:25%;
}

input.medium
{
	width:50%;
}

input.large
{
    width:100%;
}

textarea.small
{
	height:5.5em;
}

.employeesBox {
    text-align: center;
    margin-left: 640px;
    z-index: 4;
    margin-top: -120px;
    position: relative;
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
}

#currentDay {
    margin-top: 50px;
    padding-top: 40px;
    margin-left: 22px;
    position: relative;
    z-index: 4;
    font-size: 24px;
}

#column {
    float: left;
    width: 30%;
    padding-left: 5px;
    padding-right: 2px;
    text-align: center;
    margin-left: 14px;
    font-size: 23px;
    border-style: solid;
    border-color: #0e3f77;
    border-width: 3px;
    height: 300px;
    background-color: #e4e4e4;
}

@media screen and (max-width: 600px) {
    #column {
      width: 100%;
    }
}



